Ваш аккаунт |USER|@|DOMAIN| был создан. В вашей почтовой e-mail программе, используйте:<br><br>

<table class=list cellpadding=3 cellspacing=1>
<tr><td class=list2 align=right><b>Логин:</b></td><td class=list2>|USER|@|DOMAIN|</td></tr>
<tr><td class=list  align=right><b>Пароль:</b></td><td class=list >|EMAIL_PASS|</td></tr>
<tr><td class=list2 align=right><b>Pop3 сервер:</b></td><td class=list2>mail.|DOMAIN|</td></tr>
<tr><td class=list align=right><b>Smtp сервер:</b></td><td class=list>mail.|DOMAIN|</td></tr>
</table>
