Your account |USER|@|DOMAIN| has been setup. In your e-mail program, use:<br><br>

<table class=list cellpadding=3 cellspacing=1>
<tr><td class=list2 align=right><b>Username:</b></td><td class=list2>|USER|@|DOMAIN|</td></tr>
<tr><td class=list  align=right><b>Password:</b></td><td class=list >|EMAIL_PASS|</td></tr>
<tr><td class=list2 align=right><b>Pop3 Server:</b></td><td class=list2>mail.|DOMAIN|</td></tr>
<tr><td class=list align=right><b>Smtp Server:</b></td><td class=list>mail.|DOMAIN|</td></tr>
</table>
