*
{
	FONT-SIZE: 8pt;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	line-height:16px;
}

a
{
	TEXT-DECORATION: none;
	COLOR: black;
}

a:hover
{
	COLOR: #9999CC;
	TEXT-DECORATION: underline;
}

.toptext
{
	COLOR: #666666;
}

u
{
	TEXT-DECORATION: underline;
}

input
{
	line-height: 12px
	
}
.tree
{
	
	COLOR: #C0C0C0;
}

.title
{
	COLOR: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12pt;
}

td.header
{
	FONT-WEIGHT: 600;
	FONT-SIZE: 10pt;
	COLOR: #EEEEEE;
	BACKGROUND: #425984;
}

.menu
{
	border: 1px solid grey;
	border-style: outset;
}

table.menu
{
	BACKGROUND: #FFFFFF;
}

td.menu
{
	BACKGROUND: #EEEEEE;
	COLOR: #000000;
}

table.tabs
{
	width: 100%;
	border-width: 1;
	border-bottom-style:solid;
	border-left-style: none;
	border-top-style: none;
	border-right-style: none;	
	border-color: black;
	border-collapse:collapse
}

td.tab
{
	BACKGROUND: #6A85B5;
	border: 1px solid grey;
	border-style: outset;
	white-space: nowrap;	
}

td.tabselected
{
	BACKGROUND: #425984;
	border: 1px solid grey;
	border-style: outset;
	white-space: nowrap;	
}

td.tabspace
{
	width: 1%;
}

.highlighted
{
	BACKGROUND: #8CA0C6;
	border: 1px solid grey;
	border-style: outset;
	white-space: nowrap;
	cursor: hand;
}

a.tabtext
{
	COLOR: #EEEEEE;
	TEXT-DECORATION: none
}

a.tabtext:hover
{
	COLOR: #EEEEEE;
	TEXT-DECORATION: none
}

table.list
{
	BACKGROUND: #FFFFFF;
	width: 100%;
	
}

td.list
{
	BACKGROUND: #EEEEEE;
	white-space: nowrap;
}
td.list2
{
	BACKGROUND: #E3E3E3;
	white-space: nowrap;
}

.listhighlight
{
	BACKGROUND: #b8c0e2;
	white-space: nowrap;
}

.list2highlight
{
	BACKGROUND: #b8c0e2;
	white-space: nowrap;
}

td.listwrap
{
	BACKGROUND: #EEEEEE;
	white-space: wrap;
}
td.listwrap2
{
	BACKGROUND: #E3E3E3;
	white-space: wrap;
}

.listwraphighlight
{
	BACKGROUND: #b8c0e2;
	white-space: wrap;
}

.listwrap2highlight
{
	BACKGROUND: #b8c0e2;
	white-space: wrap;
}

.listtitle
{
	COLOR: #EEEEEE;
	white-space: nowrap;
}

td.listtitle
{
	BACKGROUND: #425984;
	border: 1px solid grey;
	border-style: outset;
	background-image: url("/IMG_SKIN_GRADIENT");
	
}
.white
{
	COLOR: white;
}

.off_white
{
	COLOR: #CCCCCC;
}

.trim
{
	border: 1px solid #8CB7D0;
}

.left-pad
{
	padding-left: 70px;
}

.right-pad
{
	padding-right: 10px;
	padding-left: 10px;
}

.bar-row1
{
	BACKGROUND: #3D6C98;
	line-height:12px;
	white-space: nowrap;
	FONT-SIZE: 8pt;
	letter-spacing:-0.1em
}

.bar-row2
{
	line-height:12px;
	white-space: nowrap;
	FONT-SIZE: 8pt;
	letter-spacing:-0.1em
}

.top-border
{
	border: 0px solid white;
	border-top: 1px solid grey;
}

.highlighted-good
{
	COLOR: green;
}
