|*if code!=""|
|?TITLE=DirectAdmin - подтверждение восстановления пароля|
|?DESC=Восстановление пароля код подтверждения|
|?INSTR=Введите ваш логин и код подтверждения<br> чтобы получить на emaile новый пароль|

|*else|
|?TITLE=DirectAdmin - восстановление пароля|
|?DESC=Восстановление пароля|
|?INSTR=Введите ваш логин и ссылка подтверждения<br> будет отправлена на ваш email.|
|*endif|

<html>
<head>
<title>|TITLE|</title>
<style>
*{ FONT-SIZE: 8pt; FONT-FAMILY: verdana; } b { FONT-WEIGHT: bold; } .listtitle { BACKGROUND: #425984; COLOR: #EEEEEE; white-space: nowrap; } td.list { BACKGROUND: #EEEEEE; white-space: nowrap; } </style>
</head>
<body onLoad="document.form.username.focus();">
<center><br><br><br><br>
<h1>|DESC|</h1>
<table cellspacing=1 cellpadding=5>
<tr>
<td class=listtitle colspan=2>Пожалуйста введите ваш логин</td></tr>
<form action="/CMD_LOST_PASSWORD" method="POST" name="form">
<tr><td class=list colspan=2>|INSTR|</td></tr>
<tr><td class=list align=right>Логин:</td><td class=list><input type=text name=username value="|username|"></td></tr>
|*if code!=""|
<tr><td class=list align=right>Код подтверждения:</td><td class=list><input type=text name=code value="|code|"></td></tr>

<input type=hidden name=action value="code">
|*else|
<input type=hidden name=action value="request">
|*endif|

<tr><td class=listtitle align=right colspan=2><input type=submit value='Submit'></td></tr>
</form>
</table>
</center></body></html>

