<html>
<head>
	<title>
		|DOMAIN|
	</title>

	<style>
	* { font-family: verdana; font-size: 10pt; COLOR: gray; }
	b { font-weight: bold; }
	table { height: 50%; border: 1px solid gray;}
	td { text-align: center; padding: 25;}

	</style>
</head>
<body>
<center>
<br><br><br><br>
	<table>
	<tr><td>Добро пожаловать на главную страничку <b>|DOMAIN|</b></td></tr>
	<tr><td>Чтобы изменить эту страничку, загрузите ваш сайт в папку public_html</td></tr>
	<tr><td><img src="logo.png"></td></tr>
	<tr><td style="font-size: 8pt">Дата создания: |DATECREATED|</td></tr>
	</table>
<br><br>

</center>
</body>

</html>
