<html>
<head>
	<title>
		Изменение пароля Ftp аккаунта
	</title>

<style>
	*{ FONT-SIZE: 8pt; FONT-FAMILY: verdana; }
	b { FONT-WEIGHT: bold; }
	.listtitle { BACKGROUND: #425984; COLOR: #EEEEEE; white-space: nowrap; }
	td.list { BACKGROUND: #EEEEEE; white-space: nowrap; }
</style>
</head>
<body>
<center>
<br><br><br>
	<b>Изменение пароля Ftp аккаунта</b>
	<br><br>
	<table cellpadding=5 cellspacing=1>
		<form action="/CMD_CHANGE_FTP_PASSWORD" method="POST">
		<tr><td class=listtitle colspan=2>Введите необходимую информацию ниже</td></tr>
		<tr><td class=list align=center colspan=2>Должен быть в формате <b>user@domain.com</b><br>Системный аккаунт не разрешен</td></tr>
		<tr><td class=list align=right>Ftp аккаунт:</td><td class=list><input type=text name=ftp size=32></td></tr>
		<tr><td class=list align=right>Старый пароль:</td><td class=list><input type=password name=oldpassword size=32></td></tr>
		<tr><td class=list align=right>Новый пароль:</td><td class=list><input type=password name=password1 size=32></td></tr>
		<tr><td class=list align=right>Повторите пароль:</td><td class=list><input type=password name=password2 size=32></td></tr>
		<tr><td class=listtitle colspan=2 align=right><input type=submit value="Изменить пароль"></td></tr>
		</form>
	</table>
<br><br>

</center>
</body>

</html>
